.img-card{
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.cards-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 50px;
    padding-bottom: 15px;
}

.section_portifolio{
    text-align: center;
}

@media (max-width:768px){
    .card {margin-top: 10px;
    }
    
}

@media (min-width:1024px){
    .cards-projetos {
        flex-wrap: nowrap;
        
    }
    .card {
        margin-right: 10px;
    }
    
}