.img-card{
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.cards-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10vh;
    background-color: #000000;
    
}

.section_portfolio{
   /* text-align: center;
    background-color: #00ADB5;
    padding-bottom: 7vh;*/
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    color: white;
    text-align: center;
    background: linear-gradient(
        0.1turn
        ,#00ADB5, #000000 80%);
        
        
}


.quote {    
    text-align: left;
    width: 80%;
}

h4{
    font-size: 1.75rem; 
}



@media (max-width:768px){
    .card {margin-top: 10px;
    }
    
}



@media (min-width:1024px){
    .cards-projetos {
        flex-wrap: nowrap;
        
    }
    .card {
        margin-right: 10px;
    }
    
}

@media (max-width:768px){
    .quote {
        width: 95%;
    }
    .section_portfolio{
        display: block;
    }
    h4{
        padding: 9vh;
    }
}
