.habilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}

.section { 
    color: #0e3150;
    text-align: webkit-auto;
}

.container-habilities{
    background: linear-gradient(
        0.1turn
        ,#00ADB5, #000000 70%);
    text-align: auto;
    padding: 5vh;
}

.section_about{
        background-color: #000000;
        color: white;
        padding-bottom: 3%; 
        padding-top: 3%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        
}

.about {
    
    text-align: left;
    width: 80%;
}

.link {
    color: #00ADB5;
}

.link:hover {
   background-color: #eeeeee;
   border-radius: 3px;
   text-decoration: none;
}

.curriculo {
    padding-top: 20px;
    text-align: center;
}
.icon {
    font-size: 3rem;
}

.btn {
    background-color: #0e3150;
    border: none;
}

.btn:hover{
    background-color: #00ADB5;
}

h3 {
    text-align: center;
    padding: 9vh;
    margin: 0;
    color: #00ADB5;
  }

@media (max-width:768px){
    .icon {
        font-size: 2.4rem;
    }
    .habilities {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about {
        width: 95%;
    }
    .section_about{
        display: block  ;
    }
   
}


@media (min-width:375px){
    .habilities {
        padding: 7%;
    
    }
}

@media (min-width:425px){
    .habilities {
        padding: 35px;
        font-size: 19px;
    }

}