.header-style {
    background-color:#00adb5;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    padding-Bottom: 3rem;
}
.profile{
    height: 50vh;
    margin-bottom: 30px;
    
}

/* .break {
    max-width: 20vw;
    border: 1px solid;
    color:#0e3150;
} */


.code-icon{
    color: white;
    font: 2rem;
}

@media (max-width: 768px){
    .profile {
        max-height: 70vh;
    }   
    h1, h2 {
            font-size: 2rem;
        
    }
}
@media (max-width: 425px){
 h2 { 
     margin: 5px 31px;
    }
}