.header-style {
    background: linear-gradient(transparent, #212529 80%), url(../../assets/header.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
    background-position-y: 71%;
}


.profile{
    height: 35vh;
    margin-bottom: 30px;
    
}

.code-icon{
    color: white;
    font: 2rem;
}

@media (max-width: 768px){
    .profile {
        max-height: 70vh;
    }   
    h1, h2 {
            font-size: 2rem;
        
    }
}
@media (max-width: 425px){
 h2 { 
     margin: 5px 31px;
    }
}